<div class="row">
    <div class="col-md-12">
        <h4>新建用户</h4>
        <form class="form-horizontal" onsubmit="return event_new_user_form(this);">
            <div class="form-group">
                <label class="control-label col-md-1" for="email">邮箱</label>
                <div class="col-md-2">
                    <input type="email" class="form-control" id="email" required="required">
                </div>
                <label class="control-label col-md-1" for="fullname">姓名</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="fullname" required="required">
                </div>
                <label class="control-label col-md-1" for="birthday">生日</label>
                <div class="col-md-2">
                    <input type="date" class="form-control" id="birthday" required="required">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-default">新建用户</button>
                </div>
            </div>
        </form>
    </div>
</div>