<div class="row">
    <div class="col-md-12">
        <h4>更新旧用户的信息和权限</h4>
        <form class="form-inline" onsubmit="return event_select_old_user_form(this);">
            <div class="form-group">
                <label for="select_user">选择一个用户</label>
                <select class="form-control" id="select_user">
                    {% for user in user_list %}
                        <option value="{{user.EMAIL}}">{{user.FULLNAME}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">查询</button>
            </div>
        </form>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12" id="user_profile">
    </div>
</div>