<div class="row">
    <div class="col-md-12">
        <h4>所有用户的生日祝福事件</h4>
        <form class="form-horizontal" onsubmit="return event_add_birthday_form(this);">
            <div class="form-group">
                <label class="control-label col-md-1" for="year">年份</label>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="year" required="required">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-default">批量添加</button>
                </div>
            </div>
        </form>
    </div>
</div>