<div class="row">
    <div class="col-md-12">
        <h4>添加单个祝福事件</h4>
        <form class="form-horizontal" onsubmit="return event_add_event_form(this);">
            <div class="form-group">
                <label class="control-label col-md-1" for="description">祝福名称</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="description" required="required">
                </div>
                <label class="control-label col-md-1" for="happen_date">祝福日期</label>
                <div class="col-md-2">
                    <input type="date" class="form-control" id="happen_date" required="required">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-default">添加事件</button>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1" for="user1">用户 1</label>
                <div class="col-md-2">
                    <select class="form-control" id="user1">
                    {% for user in user_list %}
                        <option value="{{user.EMAIL}}">{{user.FULLNAME}}</option>
                    {% endfor %}
                    </select>
                </div>
                <label class="control-label col-md-2" for="user2">用户 2（选填）</label>
                <div class="col-md-2">
                    <select class="form-control" id="user2">
                    {% for user in user_list %}
                        <option value="{{user.EMAIL}}">{{user.FULLNAME}}</option>
                    {% endfor %}
                    </select>
                </div>
                <label class="control-label col-md-2" for="user3">用户 3（选填）</label>
                <div class="col-md-2">
                    <select class="form-control" id="user3">
                    {% for user in user_list %}
                        <option value="{{user.EMAIL}}">{{user.FULLNAME}}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>