<div class="row">
    <div class="col-md-12">
        <h4>祝福事件</h4>
        {% if event_list%}
        <table class="table table-bordered table-hover">
            <thead class="bg-primary">
                <th>序号</th>
                <th>日期</th>
                <th>祝福事件</th>
                <th>相关用户</th>
                <th>操作</th>
            </thead>
            {% for event in event_list %}
            <tbody>
                <td>{{ forloop.counter }}</td>
                <td>{{ event.HAPPEN_DATE }}</td>
                <td>{{ event.DESCRIPTION }}</td>
                <td>{{ event.USER | safe }}</td>
                <td><a class="btn btn-default">整理</a> <a class="btn btn-default">删除</a></td>
            </tbody>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>