{% extends 'base.html' %}

{% block title %}
    祝福事件管理
{% endblock %}
{% block page_header %}
    祝福事件管理
{% endblock %}
{% block head %}
    <script type="text/javascript" src="/static/web_event_management/js/functions.js"></script>
{% endblock %}
{% block content %}
    <div id="div_add_birthday_unit">
        {{add_birthday_unit}}
    </div>
    <hr>
    <div id="div_add_event_unit">
        {{add_event_unit}}
    </div>
    <hr>
    <div id="div_event_list_unit">
        {{event_list_unit}}
    </div>
{% endblock %}